<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: 'clash', Arial, sans-serif; margin: 0; padding: 0; background-color: transparent;">
    
    <table class="email-container" cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style=" max-width: 600px; margin: 0 auto; background-color: #ffffff;">
        <!-- Header -->
        <tr>
            <td class="header" style=" background-color: #f4f4f4; text-align: center; padding: 50px 0 20px 0; color: #333;">
                <h1 style="font-size: 24px; background: #14FF8A; padding: 15px 0;  margin: 0 0 10px 0;">{{role}}</h1>
                <p style="font-size: 16px; font-weight: 600; margin-bottom: 10px; display: inline; padding: 12px 30px; border: 3px solid #14FF8A; border-radius: 0 0 10px 10px;" class="info">Remote - Dubai/Karachi - Full Time</p>
                <p style="font-size: 14px; font-weight: bold; color: #555; margin-top: 30px;" class="date-time">{{dateTime}}</p>
            </td>
        </tr>

        <!-- Data Fields -->
        <tr>
            <td class="data-fields" style="padding: 20px; text-align: left; background: #f4f4f4;">
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Heard From:</strong> {{source}}</div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Name:</strong> {{firstName}} {{lastName}}</div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Email:</strong> {{email}}</div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Phone:</strong> {{phone}}</div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">LinkedIn:</strong> <a style="color: #14FF8A; text-decoration: none;" href="{{linkedin}}" target="_blank">{{linkedin}}</a></div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Resume Link:</strong> <a style="color: #14FF8A; text-decoration: none;" href="{{resumeUrl}}" target="_blank">{{resumeUrl}}</a></div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Cover Letter:</strong> {{coverLetterUrl}}</div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Resume File:</strong> <a style="color: #14FF8A; text-decoration: none;" href="{{resumeFileUrl}}" download>{{resumeFileName}}</a></div>
                <div style="margin-bottom: 20px; font-size: 20px;"><strong style=" color: #333;">Cover Letter File:</strong> <a style="color: #14FF8A; text-decoration: none;" href="{{coverLetterFileUrl}}" download>{{coverLetterFileName}}</a></div>
            </td>
        </tr>

        <!-- Main Content Section -->
        <tr>
            <td>
                <div class="main-content" style="text-align: center; padding: 20px;">
                    <p style="font-size: 14px; color: #cccbcb; font-weight: 600; line-height: 1.8;">We appreciate your interest in joining our team. Our hiring team will review your application and get back to you soon. Thank you for choosing Tyfora!</p>
                    <a href="https://tyfora.com/">
                        <img src="http://drive.google.com/uc?export=view&id=1WFQ67g5ZzE9U0QUbqyP0zNjIlGqJ85yd" alt="Tyfora Logo" style="width: 150px;">
                    </a>
                </div>
            </td>
        </tr>

        <!-- Footer Section -->
        <tr>
            <td>
                <div class="footer" style="background-color: #14FF8A; text-align: center; padding: 20px 0;">
                    <a href="https://www.facebook.com/tyfora" aria-label="Visit Tyfora on Facebook" style="text-decoration: none; color: #14FF8A;">
                        <img src="http://drive.google.com/uc?export=view&id=1zT85UNlpatrIpUki354bKrl4HWq4Z64y" alt="Facebook" class="social-icons" style=" margin: 0 10px; width: 30px; height: 30px;">
                    </a>
                    <a href="https://www.linkedin.com/company/tyfora" aria-label="Visit Tyfora on LinkedIn" style="text-decoration: none; color: #14FF8A;">
                        <img src="http://drive.google.com/uc?export=view&id=1ianCDwCpGiHynlVmgNB3WBJYY8FmjKEt" alt="LinkedIn" class="social-icons" style=" margin: 0 10px; width: 30px; height: 30px;">
                    </a>
                    <a href="https://www.instagram.com/tyfora_/" aria-label="Visit Tyfora on Instagram" style="text-decoration: none; color: #14FF8A;">
                        <img src="http://drive.google.com/uc?export=view&id=1AAnQRpugLJfOLIQR2QnKbEO3FbOluSZ0" alt="Instagram" class="social-icons" style=" margin: 0 10px; width: 30px; height: 30px;">
                    </a>
                    <a href="https://x.com/tyforaofficial" aria-label="Visit Tyfora on X (Twitter)" style="text-decoration: none; color: #14FF8A;">
                        <img src="http://drive.google.com/uc?export=view&id=1igiDdVmE-G4cJDXguTeWSIu2bkvBkUXT" alt="X (Twitter)" class="social-icons" style=" margin: 0 10px; width: 30px; height: 30px;">
                    </a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="footer-bottom" style="background-color: #ffffff; text-align: center; font-size: 12px; color: #888; padding: 10px 0;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="text-align: left; vertical-align: middle;">
                                <span>Copyright &copy; 2025 <strong>TYFORA.</strong> All rights reserved.</span>
                            </td>
                            <td style="text-align: right; vertical-align: middle;">
                                <a href="https://tyfora.com/terms-and-conditions" style="color: #888; text-decoration: none; font-weight: 600;">
                                    Terms &amp; Conditions
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>